.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element {
    width: 100px;
    height: 100px;
    border: 1px solid #d3d3d3;
    line-height: 100px;
    text-align: center;
}

.multiple3 {
    color: #ff0000;
    font-size: 22px;
    background-color: #00ffff;
}

.multiple5 {
    color: #ffff00;
    font-size: 24px;
    background-color: #0000ff;
}

.multiple35 {
    color: #ffa500;
    font-size: 26px;
    background-color: #0059ff;
}